<footer class="footer-container">
    <div class="footer-icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>
    <div class="footer-data">
        <div>&#169; 2025 Windbnb Private Limited</div>
    </div>
</footer>